/ {
    combos {
        compatible = "zmk,combos";

        combo_lesc {
            key-positions = <2 3 4>;
            bindings = <&esc_base>;
        };

        combo_resc {
            key-positions = <7 8 9>;
            bindings = <&esc_base>;
        };

        combo_mesc {
            key-positions = <31 32 33>;
            bindings = <&esc_base>;
        };

        combo_quote {
            key-positions = <8 9>;
            bindings = AS(SINGLE_QUOTE);
        };

        combo_sticky_shift {
            key-positions = <14 21>;
            bindings = <&skcaps>;
        };

        combo_scroll {
            bindings = <&mo 4>;
            key-positions = <32 33>;
        };

        combo_slow_pointer {
            bindings = <&mo 5>;
            key-positions = <25 26>;
        };

        combo_left_click {
            bindings = <&mkp MB1>;
            key-positions = <31 32>;
        };

        combo_right_click {
            bindings = <&mkp MB2>;
            key-positions = <31 33>;
        };

        combo_middle_click_scroll {
            bindings = <&mo_click 4 MB3>;
            key-positions = <32 33>;
        };

        combo_bootloader {
            bindings = <&bootloader>;
            key-positions = <1 10>;
        };
    };
};
