/ {
    combos {
        compatible = "zmk,combos";

        combo_lesc {
            key-positions = <1 2 3>;
            bindings = <&esc_base>;
        };

        combo_resc {
            key-positions = <6 7 8>;
            bindings = <&esc_base>;
        };

        combo_mesc {
            key-positions = <26 27 28>;
            bindings = <&esc_base>;
        };

        combo_quote {
            key-positions = <7 8>;
            bindings = <&kp SINGLE_QUOTE>;
        };

        combo_sticky_shift {
            key-positions = <11 18>;
            bindings = <&skcaps>;
        };

        combo_scroll {
            bindings = <&mo 4>;
            key-positions = <27 28>;
        };

        combo_bootloader {
            bindings = <&bootloader>;
            key-positions = <0 9>;
        };
    };
};
